html{
    scroll-behavior: smooth;
}

nav a{
    color: black;
    text-decoration: none;
    transition: .3s;
}


@keyframes floating {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(0px);
    }
}

.floating {
    animation: floating 4s ease-in-out infinite;
}


/* running text */
.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    padding: 18px 0;
}

.marquee-content {
    display: inline-flex;
    align-items: center;
    gap: 40px;
    color: white;
    font-weight: 500;
    animation: marquee 40s linear infinite;
}

.marquee-content:hover {
    animation-play-state: paused;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 999px;
    background: #facc15;
}

@keyframes marquee {

    from {
        transform: translateX(10%);
    }

    to {
        transform: translateX(-60%);
    }

}



/* daftar guru */

.teacher-card{

    background:white;
    border-radius:30px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    border:1px solid #e5e7eb;

}

.teacher-img{

    width:100%;
    height:320px;
    object-fit:cover;

}

.extra{

    opacity:0;
    transform:translateY(50px);
    transition:.6s;

}

.extra.show{

    opacity:1;
    transform:translateY(0);

}